div {
	height: 150px;
	width: 150px;
	display: inline-table;
}

body {
	text-align: center; /* trying to position center page */
}

input {
	height: 150px;
	width: 150px;
	border: none;
	font-size: 70px;
	padding: 2px;
}

p {
	vertical-align: middle;
	margin-top: 50%;
}

#container {
	width: 450px;
	height: 456px;
	margin: 0 auto;
	border: none; 
}

#box1 {
	
}

#box2 {
	
}

#box3 {
	
}

#box4 {
	
}

#box5 {
	
}

#box6 {
	
}

#box7 {
	
}

#box8 {

}

#box9 {

}
	





