h1 {
	text-align: center;
	color: white;
	padding: 50px;
	margin-top: 30px;
}

button {
	margin: auto;
	height: 40px;
	width: 75px;
}

#grid {
	width: 462px;
	height: 462px;
	border: none;
	margin: auto;
	padding: 3px;
}
.subcontainer {
	float:left;
}

.squares {
	height: 150px;
	width: 150px;
	border: 1px solid #d3d3d3;
	font-size: 100px;
	margin: 1px;
	padding: 0;
	display: block;
	float: left;
	text-align: center;
	line-height: 150px;
	vertical-align: middle;
	border-radius: 15%;
	background-color: #d3d3d3;
	opacity: 0.5;

	}

.squares:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #3BB9FF;
	opacity: 1.0;
}
.maincontainer {
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	height: 1200px;
	width: 470px;
}
textarea {
	width: 400px;
	height: 100px;
}

span {
	color: white;
}

.chat {
    float: left;
    margin-left: 30px;
}

.playagain {
	position: absolute;
	margin-top: -300px;
	margin-left: 100px;
	border-radius: 15px;
	width: 100px;
	height: 100px;
	background-color: white;
}

.resetbox {
	text-align: center;
	margin: auto;
	opacity: .5;
	border-radius: 15px;
	width: 462px;
	color: white;
	display: block;
	background-color: #d3d3d3;
}

.resetbox:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #3BB9FF;
	opacity: 1.0;
}

video#bgvid {
position: fixed; 
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -10;
background: url(../xoxo/assets/pics/money.jpg) no-repeat;
background-size: cover;
}




